<a href="https://colab.research.google.com/github/RaniDevaraj/Python_application_in_DA-and-ML/blob/master/day1session2(worked).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to print the triangle

In [1]:
n=int(input("Enter number:"));
for i in range(n+1):
    c=i
    for j in range(1,i+1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:5

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

pattern 1

In [2]:
rows = 4
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

*
* *
* * *
* * * *

pattern 2

In [3]:
n=int(input("Enter number:"));
for i in range(n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:9

9
8 9
7 8 9
6 7 8 9
5 6 7 8 9
4 5 6 7 8 9
3 4 5 6 7 8 9
2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9

pattern 3

In [4]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
pattern4

In [7]:
n=int(input("Enter number:"));
for i in range(n):
    for j in range(i+1,n+1,1):
        print(j, end=" ")
    print('')
for i in range(2,n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:5
1 2 3 4 5
2 3 4 5
3 4 5
4 5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

Find the length of a string without using len functions

In [8]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: rani
Length of the input string is: 4

Find the no of words and characters in a string

In [9]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:sangeetha
Number of words in the string:
1
Number of characters in the string:
9

Find the no of occurrences of a word in a string

In [10]:
str = "hello this is Elston.hello all"
substr = "hello"

count = str.count(substr)

# print count
print("The count is:", count)

The count is: 2