<a href="https://colab.research.google.com/github/RaniDevaraj/Python_application_in_DA-and-ML/blob/master/DAY2_session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Program to find the largest number in a list.

In [1]:
x=0
print('The greatest no is',max([int(input(x)) for i in range(int(input("Enter n")))]))

Enter n2
3
4
The greatest no is 4

In [2]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:4
Enter element:6
Enter element:8
Enter element:9
Enter element:2
Largest element is: 9

Python Program to put the even and odd elements in a list into two different lists.

In [3]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:3
Enter element:7
Enter element:3
Enter element:0
The even list [0]
The odd list [7, 3]

Python Program to merge two lists and sort it

In [4]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:5
Enter element:6
Enter element:5
Enter element:4
Enter element:3
Enter element:2
Enter number of elements:1
Enter element:2
Sorted list is: [2, 2, 3, 4, 5, 6]

Python Program to sort the list according to the second element in the sublist.

In [5]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

Python Program to find the second largest number in a list using bubble sort.

In [6]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:3
Enter element:8
Enter element:9
Enter element:11
Second largest number is: 9


Program to create a list of tuples with the first element as the number and the second element as the square of the number.

In [7]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:2
Enter the upper range:5
[(2, 4), (3, 9), (4, 16), (5, 25)]

Python Program to generate random numbers from 1 to 20 and append them to the list.

In [8]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:5
Randomised list is:  [4, 1, 10, 4, 8]


EXCERSISES **bold text**

print multiples of 3 upto 200 using a list

In [9]:
def multiple(m, n): 
    a = range(n, (m * n)+1, n)   
    print(*a)   
m = 66
n = 3
multiple(m, n)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198


print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [10]:
nl=[]
for x in range(1000, 2000):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1015,1050,1085,1120,1155,1190,1225,1260,1295,1330,1365,1400,1435,1470,1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995

Add the n number of names in a list and print them alphabetically and reverse alphabetically

In [11]:
locations = list(input().split())

print("Original order:")
print(locations)

print("\nAlphabetical:")
print(sorted(locations))
print("\nReverse alphabetical:")
print(sorted(locations, reverse=True))

4
Original order:
['4']

Alphabetical:
['4']

Reverse alphabetical:
['4']


Print perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list
In [0]:

In [12]:
lower=int(input("Enter lower range limit:"))
upper=int(input("Enter upper range limit:"))
n=int(input("Enter the number to be divided by:"))
for i in range(lower,upper+1):
    if(i%n==0):
        print(i)

Enter lower range limit:200
Enter upper range limit:400
Enter the number to be divided by:2
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400

# TUPLES


Write python program to have a list of words to sort them from longest to shortest using list of tuples

In [13]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']


Python program that assigns variables

In [14]:
# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat


Python program that searches tuples

In [15]:
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
    print("Cat found")

# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

Cat found
Bird not found


# TUPLE EXERCISE

Get a string and store word by word as elements in a tuple and find the largest word in the tuple and print it

In [16]:
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
    element=input("Enter element" + str(x+1) + ":")
    a.append(element)
max1=len(a[0])
temp=a[0]
for i in a:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

Enter the number of elements in list:3
Enter element1:1
Enter element2:2
Enter element3:4
The word with the longest length is:
1

Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard and print them in marks descending order with rollno

In [17]:
print(sorted([(input("Enter rollno: "), input("Enter marks: ")) for i in range(int(input("Enter number of students")))], key=lambda x: x[1],reverse=True))

Enter number of students4
Enter rollno: 22
Enter marks: 66
Enter rollno: 98
Enter marks: 786
Enter rollno: 22
Enter marks: 88
Enter rollno: 66
Enter marks: 90
[('66', '90'), ('22', '88'), ('98', '786'), ('22', '66')]

Get name and salary (name, salary) as list of tuples for n number of employees through keyboard and print them in name alphabetical order with salary

In [18]:
print(sorted([(input("Enter name: "), input("Enter salary: ")) for i in range(int(input("Enter number of employees")))], key=lambda x: x[0]))

Enter number of employees3
Enter name: ram
Enter salary: 5000
Enter name: raj
Enter salary: 8000
Enter name: raku
Enter salary: 7000
[('raj', '8000'), ('raku', '7000'), ('ram', '5000')]